{% extends 'base.html' %}
{% block content %}
<!-- register new question -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">New Questions</h5>
    <form method="post" class="my-3">
		{{ form.csrf_token }}
		 <!-- Error state Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- Error state End -->
		<div class="my-3">
            <label for="subject">Title</label>
            <input type="text" class="form-control" name="subject" id="subject"
				 value="{{ form.subject.data or '' }}">
        </div>
        <div class="my-3">
            <label for="content">Content</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}
