<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">HAMA</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
             {% if g.user %}
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }} (Logout)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('data.get_data') }}">Humidity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('data.get_camera') }}">Streaming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('data.motorhome') }}">Control</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('data.get_data') }}">Humidity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('data.get_camera') }}">Streaming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('data.motorhome') }}">Control</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
